@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Customize these variable */
  /* https://github.com/adamwathan/tailwind-css-variable-text-opacity-demo */

  --tw-clr-primary-100: 143, 199, 0;
  --tw-clr-primary-200: 0, 232, 159;
  --tw-clr-primary-300: 0, 219, 243;
  --tw-clr-primary-400: 255, 0, 123;
  --tw-clr-primary-500: 255, 221, 0;
  --tw-clr-primary-600: 211, 243, 0;

  --clr-primary-200: rgb(var(--tw-clr-primary-100)); /* #8fc700 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #00e89f */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #00dbf3 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #ff007b */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #ffdd00 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #d3f300 */
}

@layer base {
  @font-face {
    font-family: "Fira";
    src: url("/fonts/fira/woff2/FiraCode-Light.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Fira";
    src: url("/fonts/fira/woff2/FiraCode-VF.woff2") format("woff2-variations");
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 300 700;
    font-style: normal;
  }

  h1 {
    @apply text-2xl font-bold leading-7  md:text-4xl font-primary md:leading-none;
  }

  h2 {
    @apply text-xl font-bold leading-7  md:text-2xl font-primary md:leading-8;
  }

  h3 {
    @apply text-base font-bold leading-5  md:text-lg font-primary md:leading-6;
  }

  h4 {
    @apply text-sm font-bold leading-4  md:text-base font-primary;
  }

  body {
    font-family: Fira;
    color: #33333;
    @apply text-sm leading-4 font-primary tracking-tight md:text-tiny;
  }

  .min-h-main {
    @apply min-h-[calc(100vh-100px)];
  }

  .layout {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    width: 91.666667%;
  }
}

@layer utilities {
  @variants dark {
    .bg-dark {
      background-color: #0a1e2b;
    }
    .dot {
      transform: translateX(100%);
    }
    .bg-darknight {
      background-color: #07151f;
    }

    .filter-grayscale {
      filter: grayscale(100%);
    }

    .bg-opacity {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.tippy-tooltip [x-circle] {
  @apply text-xs;
  background-color: transparent !important;
}

[fade-bottom] {
  @apply transition duration-[400ms] ease-out translate-y-16 opacity-0 motion-reduce:translate-y-0 motion-reduce:opacity-100;
}
.fade-in-start [fade-bottom] {
  @apply translate-y-0 opacity-100;
}
.fade-in-start [fade-bottom="1"] {
  transition-delay: 100ms;
}
.fade-in-start [fade-bottom="2"] {
  transition-delay: 200ms;
}
.fade-in-start [fade-bottom="3"] {
  transition-delay: 300ms;
}
.fade-in-start [fade-bottom="4"] {
  transition-delay: 400ms;
}
.fade-in-start [fade-bottom="5"] {
  transition-delay: 500ms;
}

[fade-side] {
  @apply transition duration-[400ms] ease-out translate-x-14 opacity-0 motion-reduce:translate-x-0 motion-reduce:opacity-100;
}
.fade-in-start [fade-side] {
  @apply translate-x-0 opacity-100;
}
.fade-in-start [fade-side="1"] {
  transition-delay: 100ms;
}
.fade-in-start [fade-side="2"] {
  transition-delay: 200ms;
}
.fade-in-start [fade-side="3"] {
  transition-delay: 300ms;
}
.fade-in-start [fade-side="4"] {
  transition-delay: 400ms;
}
.fade-in-start [fade-side="5"] {
  transition-delay: 500ms;
}

.fade-in-start [fade-side="6"] {
  transition-delay: 600ms;
}
.fade-in-start [fade-side="7"] {
  transition-delay: 700ms;
}
.fade-in-start [fade-side="8"] {
  transition-delay: 800ms;
}
.fade-in-start [fade-side="9"] {
  transition-delay: 900ms;
}

@-webkit-keyframes textglow {
  from {
    text-shadow: 0 0 0 3px #fffff, 0 0 2px #00dbf3;
  }
  to {
    text-shadow: 0 0 1px #ffffff, 0 0 5px #00e89f, 0 0 4px #d3f300;
  }
}

.textglow {
  animation: textglow 1s ease-in-out infinite alternate;
}

.prose {
  max-width: 50rem;
  @apply text-tiny dark:text-white;
}

.prose strong,
.prose span {
  @apply dark:bg-gradient-to-r from-primary-600 via-primary-200 to-primary-300 px-1;
}

.prose a {
  text-decoration: none;
  @apply text-primary-300;
}

.prose > ol > li > :last-child,
.prose > ul > li > :last-child {
  margin-bottom: 0;
}

.prose > ol > li > :first-child,
.prose > ul > li > :first-child {
  margin-top: 0;
}

.prose blockquote p:first-of-type::before,
.prose blockquote p:last-of-type::after {
  content: "";
}

.prose blockquote {
  background: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0 0 0 0.25rem;
  border-image: linear-gradient(to top, #00ff94, #00e0f3, #ffdd00) 3;
  border-radius: 4px;
  @apply dark:text-gray-300;
}

.prose hr {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(to right, #00ff9480, #00e0f380, #00c4fd80) 1;
}

.mdx.prose :where(h1, h2, h3, 4) {
  scroll-margin-top: 100px;
  position: relative;
  display: block;
  margin-right: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  @apply dark:text-white;
}

/** HASH ANCHOR */
.hash-anchor {
  @apply inset-y-0 w-full;
  position: absolute;
  background-image: none;
  transition: none;
}

.hash-anchor:hover {
  background-image: linear-gradient(to right, #00ff94, #00e0f3, #00c4fd);
  background-size: 100% 2px;
}

.hash-anchor:hover:after,
.hash-anchor:focus:after {
  visibility: visible;
}

.hash-anchor:after {
  @apply absolute invisible text-lg -translate-y-1/2 -right-5 text-primary-400 dark:text-primary-300 top-1/2;
  content: "#";
}
